.selectionRow{
    /* style = {{display: "flex", justifyContent: "center", alignItems: "center", textAlign: "center", color: "white"}} */
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.selections{
    display:flex;
    flex-direction: column;
}